.main-bg{
	background: url('../assets/imgs/bg.jpg') 0 30%;
}
.login-content{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.login{
	position: absolute;
	top:50%;
	left:50%;
	width: 250px;
	transform: translate(-50%,-50%);
	opacity: 1;
	visibility: visible;
	transition: all 0.4s; 
}
.login.hidden{
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%,50%);
}
.login-form{
	transform: translate(-50%,-55%) !important;
}
.login-form.hidden{
	transform: translate(-50%,-70%) !important;
}
.logo{
	position:absolute;
	top:15%;
	left:50%;
	transform: translateX(-50%);
	color:white;
}
.social{
	display: flex;
	flex-direction: column;
	position:absolute;
	text-align: center;
	bottom:10%;
	left:50%;
	transform: translateX(-50%);
}
button{
	width: 250px;
}
ion-item{
	background: none !important;
	padding-left:0 !important;
	color: white !important;
}